<style type="text/css">
    .centrador {
        box-sizing: border-box;
        display: block;
        width: 100%;
        margin: 0 0 auto;
        margin-top: auto;
        text-align: center;
        padding-top: 5px;
    }


    .canvasStyle {
        border: 1px solid #CCC;
        border-radius: 5px;
        position: relative;
    }
    
</style>

@if (ViewBag.ticketDetail != null)
{
        <!-- Trigger the modal with a button -->
    <h3>
        <span><strong>TICKET #:</strong></span>
        <span>@(ViewBag.ticketDetail.Ticket)</span>
    </h3>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <span><strong>SOLICITADO POR:</strong></span>
                                <span>@(ViewBag.ticketDetail.Solicitado_Por)</span>
                            </div>
                            <div class="col-lg-6">
                                <span><strong>DETALLE DEL GASTO:</strong></span>
                                <span>@(ViewBag.ticketDetail.Tipo_Gasto)</span>
                            </div>
                            <div class="col-lg-6">
                                <span><strong>DEPARTAMENTO:</strong></span>
                                <span>@(ViewBag.ticketDetail.Departarmento)</span>
                            </div>
                            <div class="col-lg-6">
                                <span><strong>CUENTA A CARGAR:</strong></span>
                                <span>@(ViewBag.ticketDetail.Cuenta_Cargar)</span>
                            </div>
                            <div class="col-lg-6">
                                <span><strong>FECHA:</strong></span>
                                <span>@(ViewBag.ticketDetail.Fecha)</span>
                            </div>
                            <br />
                            <br />
                            <div class="col-lg-12">
                                <div><strong>JUSTIFICACION:</strong></div>
                                <div class="panel panel-default" style="margin-bottom:0px;">
                                    <div class="panel-body">
                                        @(ViewBag.ticketDetail.Justificacion)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID Producto</th>
                                <th>Descripción</th>
                                <th>Cant Solicitada</th>
                                <th>Costo Unitario</th>
                                <th>Despachado</th>
                                <th>Costo Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var row in ViewBag.productDetail)
                                {
                                    <tr>
                                        <td>@row.ID_Producto</td>
                                        <td >@row.Descripcion</td>
                                        <td style="text-align: right">@row.Cant_Solicitada</td>
                                        <td style="text-align: right">@row.Cost_Unitario</td>
                                        <td style="text-align: right">@row.Despachado</td>
                                        <td style="text-align: right">@row.Costo_Total</td>
                                    </tr>
                                }
                                <tr>

                                    <th colspan="5">TOTAL FINAL</th>
                                    <td  style="text-align: right"> @ViewBag.Total</td>

                                </tr>
                            }
                        </tbody>

                    </table>

                </div>

                <div class="row">
                    <div class="col-md-4">

                        <center><img style="height: 100px" width="204" id="firmaImagen3" /></center>
                        <br />
                        <div class="caption">
                            <center>
                                @*<input id="entregado_por" type="text" class="form-control" name="entregado_por" placeholder="Firma en Texto">*@
                               
                                    <input id="entregado_por" list="browsers" name="myBrowser" class="form-control" placeholder="Firma en Texto"/>
                                    <datalist id="browsers">
                                    <option value="Johann Credidio">
                                    <option value="Kevin Navarro">
                                    <option value="Edmundo López">
                                    <option value="Alvin Headley">
                                        </datalist>
                            </center>
                            
                            <center>
                                <button id="firma3" type="button" style="padding-left: 60px;padding-right: 60px;" class="btn btn-info" data-toggle="modal" data-target="#myModal" onclick="setearFirmaActual(this)">Entregado Por</button>
                            </center>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-4">

                        <center><img style="height: 100px" width="204" id="firmaImagen2" /></center>
                        <br />
                        <div class="caption">
                            @*<center><input id="verificado_por" type="text" class="form-control" name="verificado_por" placeholder="Firma en Texto"></center>*@
                            <center>
                                <input id="verificado_por" list="browsers1" name="myBrowser1" class="form-control" placeholder="Firma en Texto" />
                                <datalist id="browsers1">
                                    <option value="Alvin Headley">
                                    <option value="Yasmina Ortega">
                                    <option value="Johann Credidio">
                                    <option value="Janeth Villamil">
                                </datalist>
                            </center>
                            
                            <center>
                                <button id="firma2" type="button" style="padding-left: 60px;padding-right: 60px;" class="btn btn-info" data-toggle="modal" data-target="#myModal" onclick="setearFirmaActual(this)">Verificado Por</button>
                            </center>
                            <br />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <center><img style="height: 100px" width="204" id="firmaImagen1" /></center>
                        <br />
                        <div class="caption">
                            <center><input id="recibido_por" type="text" class="form-control" name="recibido_por" placeholder="Firma en Texto"></center>
                            
                            <center>
                                <button id="firma1" type="button" style="padding-left: 60px;padding-right: 60px;" class="btn btn-info" data-toggle="modal" data-target="#myModal" onclick="setearFirmaActual(this)">Recibido Por</button>
                            </center>
                            <br />
                        </div>
                    </div>
                </div>
                        <br />
                        <div class="row">
                                    <span>
                                        <button id="guardar" type="button" class="btn btn-success" onclick="guardar()" style="padding-right: 60px;padding-left: 60px;">Guardar</button>
                                        <button id="imprimir" type="button" class="btn btn-success" disabled="disabled" onclick="imprimir()" style="padding-right: 60px;padding-left: 60px;">Descargar</button>
                                    </span>
                        </div>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">TECNASA S.A</h4>
                                    </div>
                                    <div id="modal-contenido" class="modal-body">

                                        <div class='centrador'>
                                            <p>FIRMA</p>                  
                                            <button type='button' class="btn btn-danger" onclick='LimpiarTrazado()'>Limpiar Pizarra</button>
                                            <button type='button' class="btn btn-success" onclick='GuardarTrazado()'>Guardar</button>
                                            <input type='hidden' name='imagen' id='imagen' />
                                        </div>
                                        <div class='centrador'>
                                            <canvas id='canvas' class="canvasStyle">
                                                 <p>Tu navegador no soporta canvas</p>
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                }
                                else
                                {
                                    <style>
                                        input[type='number'] {
                                            -moz-appearance:textfield;
                                        }

                                        input::-webkit-outer-spin-button,
                                        input::-webkit-inner-spin-button {
                                            -webkit-appearance: none;
                                        }
                                    </style>
                                    <div class="container" >

                                        <center><img src="~/Content/img/teclogo.png" style="width:80%"></center>
                                        <form method="get" >
                                            <center>
                                                    <input  type="number" id="txtbuscar" name="ticket" class="form-control"  placeholder="Introduzca el numero de Ticket" >
                                                    <br />
                                                <span>
                                                 <button class="btn btn-info" type="button" style="width:250px;height:35px" onclick="verificarAntesDeBuscar()">BUSCAR</button>
                                                 <button id="btnSubmit" class="btn btn-info" type="submit" style="width:250px;height:35px">btn invisible</button>
                                                </span>
                                              
                                            </center>

                                        </form>
                                    </div>
                                    <script>
                                        var inputBox = document.getElementById("txtbuscar");

                                        var invalidChars = [
                                          "-",
                                          "+",
                                          "e",
                                        ];

                                        inputBox.addEventListener("input", function () {
                                            this.value = this.value.replace(/[e\+\-]/gi, "");
                                        });

                                        inputBox.addEventListener("keydown", function (e) {
                                            if (invalidChars.includes(e.key)) {
                                                e.preventDefault();
                                            }
                                        });
                                    </script>
                                }

<script>
    async function getJson(url, data) {
        let response = await fetch(url, {
            headers: { "Content-Type": "application/json; charset=utf-8" },
            method: 'POST',
            body: JSON.stringify(data)
        });

        let json = await response.json();
        return json;
    }

    async function verificarAntesDeBuscar() {
        //consutlamos si existe
        let valor = document.getElementById("txtbuscar").value;
        let rtn = false;
        rtn = await getJson('@(Url.Action("VerificarTicket", "Home"))', {ticket: valor});
        //si ya existe el ticket retorna false y mostramos el mensaje
        //alert("Ticket existente");
        if(rtn){
            //si retorna true econtró al ticket
            alert("Ticket existente, ingrese otro.");
        }else{
            let botonSubmit = document.getElementById("btnSubmit");
            botonSubmit.click();
        }
    }
</script>

@section scripts {
    <script>

       

        var firmaActual = null;
        var firma1 = null;
        var firma2 = null;
        var firma3 = null;

        /* Variables de Configuracion */
        var creado = false;
        var idCanvas = 'canvas';
        var idForm = 'formCanvas';
        var idModalBody = 'modal-contenido';
        var inputImagen = 'imagen';
        var estiloDelCursor = 'crosshair';
        var colorDelTrazo = '#5estiloDelCursor55';
        var colorDeFondo = '#fff';
        var grosorDelTrazo = 2;
        var widthCanvas = 400;
        var heightCnvas = 200;
        /* Variables necesarias */
        var contexto = null;
        var valX = 0;
        var valY = 0;
        var flag = false;
        var imagen = document.getElementById(inputImagen);
        try {
            var anchoCanvas = document.getElementById(idModalBody).offsetWidth;
            var altoCanvas = document.getElementById(idModalBody).offsetHeight;
            var pizarraCanvas = document.getElementById(idCanvas);
        } catch (e) {

        }


        /* Esperamos el evento load */
        //window.addEventListener('load', IniciarDibujo, false);

        function setearFirmaActual(args) {
            firmaActual = args.id;
            LimpiarTrazado();
        }

        $('#myModal').on('shown.bs.modal', function (e) {
            if (!creado) IniciarDibujo();
        });


        function IniciarDibujo() {
            /* Creamos la pizarra */
            creado = true;
            anchoCanvas = document.getElementById(idModalBody).offsetWidth;
            altoCanvas = document.getElementById(idModalBody).offsetHeight;


            pizarraCanvas.style.cursor = estiloDelCursor;
            contexto = pizarraCanvas.getContext('2d');
            contexto.fillStyle = colorDeFondo;
            contexto.fillRect(0, 0, anchoCanvas, altoCanvas);
            contexto.strokeStyle = colorDelTrazo;
            contexto.lineWidth = grosorDelTrazo;
            contexto.lineJoin = 'round';
            contexto.lineCap = 'round';
            /* Capturamos los diferentes eventos */
            pizarraCanvas.addEventListener('mousedown', MouseDown, false);
            pizarraCanvas.addEventListener('mouseup', MouseUp, false);
            pizarraCanvas.addEventListener('mousemove', MouseMove, false);
            pizarraCanvas.addEventListener('touchstart', TouchStart, false);
            pizarraCanvas.addEventListener('touchmove', TouchMove, false);
            pizarraCanvas.addEventListener('touchend', TouchEnd, false);
            pizarraCanvas.addEventListener('touchleave', TouchEnd, false);
        }

        function MouseDown(e) {
            flag = true;
            contexto.beginPath();
            valX = e.clientX - posicionX(pizarraCanvas); valY = e.clientY - posicionY(pizarraCanvas);
            contexto.moveTo(valX, valY);
        }

        function MouseUp(e) {
            contexto.closePath();
            flag = false;
        }

        function MouseMove(e) {
            if (flag) {
                contexto.beginPath();
                contexto.moveTo(valX, valY);
                valX = e.clientX - posicionX(pizarraCanvas); valY = e.clientY - posicionY(pizarraCanvas);
                contexto.lineTo(valX, valY);
                contexto.closePath();
                contexto.stroke();
            }
        }

        function TouchMove(e) {
            e.preventDefault();
            if (e.targetTouches.length == 1) {
                var touch = e.targetTouches[0];
                MouseMove(touch);
            }
        }

        function TouchStart(e) {
            if (e.targetTouches.length == 1) {
                var touch = e.targetTouches[0];
                MouseDown(touch);
            }
        }

        function TouchEnd(e) {
            if (e.targetTouches.length == 1) {
                var touch = e.targetTouches[0];
                MouseUp(touch);
            }
        }

        function posicionY(obj) {
            var valor = obj.offsetTop;
            if (obj.offsetParent) valor += posicionY(obj.offsetParent);
            return valor;
        }

        function posicionX(obj) {
            var valor = obj.offsetLeft;
            if (obj.offsetParent) valor += posicionX(obj.offsetParent);
            return valor;
        }

        /* Limpiar pizarra */
        function LimpiarTrazado() {
            contexto = document.getElementById(idCanvas).getContext('2d');
            contexto.fillStyle = colorDeFondo;
            contexto.fillRect(0, 0, anchoCanvas, altoCanvas);
        }

        /* Enviar el trazado */
        function GuardarTrazado() {
            //graba la imagen en base64
            imagen.value = document.getElementById(idCanvas).toDataURL('image/png');

            if (firmaActual !== null) {
                console.log(firmaActual);
                if (firmaActual === "firma1") {
                    firma1 = imagen.value;
                    document.getElementById("firmaImagen1").src = firma1;
                }
                else if (firmaActual === "firma2") {
                    firma2 = imagen.value;
                    document.getElementById("firmaImagen2").src = firma2;
                }
                else if (firmaActual === "firma3") {
                    firma3 = imagen.value;
                    document.getElementById("firmaImagen3").src = firma3;
                }
            }
            //alert(imagen.value);
        }


        function guardar() {
            //ajax a lcntrolador pra guardar los datos de reportes.
            // validaciones if datos existen

            if(firma1 === undefined || firma1 === "" || firma1 === null){
                alert("Falta el campo Firma 1");
                return;
            }
            if(firma2 === undefined || firma2 === "" || firma2 === null){
                alert("Falta el campo Firma 2");
                return;
            }
            if(firma3=== undefined || firma3 === "" || firma3 === null){
                alert("Falta el campo Firma 3");
                return;
            }

            if($('#recibido_por').val() === undefined || $('#recibido_por').val() === "" || $('#recibido_por').val() === null){
                alert("Falta el campo 'Recibido Por'");
                return;
            }
            if($('#verificado_por').val()=== undefined || $('#verificado_por').val() === "" || $('#verificado_por').val() === null){
                alert("Falta el campo 'Verificado por'");
                return;
            }
            if($('#entregado_por').val()=== undefined || $('#entregado_por').val() === "" || $('#entregado_por').val() === null){
                alert("Falta el campo 'Entregado por'");
                return;
            }


            let datos = {
                ticket: "@ViewBag.ticket",
                recibido_firma: firma1,
                verificado_firma: firma2,
                entregado_firma: firma3,
                recibido_por: $('#recibido_por').val(),
                verificado_por: $('#verificado_por').val(),
                entregado_por: $('#entregado_por').val(),
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "Home/GuardarDatos",
                data: JSON.stringify(datos),
                dataType: "json",
                success: function (data) {
                    //aqui viene el mensaje
                    alert(data.rtn);
                    console.log("guardado...");

                    let btnImprimir = document.getElementById("imprimir");

                    btnImprimir.disabled = false

                },
                error: function (result) {
                    console.log(result);
                    //capturo un error al tratar de conectarse.
                    alert("Error desde el controlador, para mas detalle mire en la consola.");
                }
            });
        }

        function imprimir()
        {

           window.open('http://ptycwclsql/ReportServer_CWISEARIS/Pages/ReportViewer.aspx?%2fCustom%2fRequisicion&rs:Command=Render&rs:Format=PDF&' + 'ticket=@ViewBag.ticket');
           window.location.href = 'Home/Index';

            @*window.open('Home/Reporte?'
                + 'ticket=@ViewBag.ticket'
                + '&format=PDF'
                , '_blank');*@
        }


    </script>



}
